*{
    margin: 0;
    padding: 0;
}
body{
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 13px;

}
#main-container{
    display: block;
    width: 970px;
    margin-left: auto;
    margin-right: auto;

}
.jQuery_func{
    width: 455px;
    margin: 10px;
    height: 150px;
    margin-top: 10px;
    border-top: 4px solid grey;
    display: inline-block;
    vertical-align: top;
    background-color: rgb(83, 83, 83);
}
h1{
    margin-left: 10px;
}
.button-design{
    background-image: linear-gradient(#6398c3, #2c6da4, #6398c3);
    box-shadow: 2px 1px 1px #3d3d3d;
    border: none;
    width: 135px;
    height:30px;
    color: white;
    margin: 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    vertical-align: top;
    font-size: 10px;
    margin-top:10px;
    margin-bottom: 2px;
    cursor: pointer;
    border-radius: 5px;
    
}
p{
    display: inline-block;
    width:200px;
}
.selected{
    background-color: lightcoral;
    color: darkgrey;
}
.toggleClasstwo{
    display: none;
}
.attr-color{
    color: blue;
    font-weight: 700;
}
input{
    margin-top: 5px;
    margin-left: 50px;
    width: 300px;
    display: inline-block;
}

.valClass{
    display: inline-block;
}
#val{
    margin-top: 20px;
    margin-left:50px;
}